<div class="modal">
    <div class="modal-header">
        <h2>{{'EDIT_PROFILE' |translate}}</h2>
    </div>
    <div class="modal-content" *ngIf="user">
        <form #editForm="ngForm" (submit)="editProfile(editForm)">
            <div class="input-container">
                <label for="username">{{'NEW_USERNAME' |translate}}</label>
                <input #usernameInput type="text" id="username" name="username" autocomplete="username"
                    [(ngModel)]="user.username">
            </div>
            <div class="input-container">
                <label for="first_name">{{'NEW_FIRST_NAME' |translate}}</label>
                <input type="text" id="first_name" name="first_name" autocomplete="first_name"
                    [(ngModel)]="user.first_name">
            </div>
            <div class="input-container">
                <label for="last_name">{{'NEW_LAST_NAME' |translate}}</label>
                <input type="text" id="last_name" name="last_name" autocomplete="last_name"
                    [(ngModel)]="user.last_name">
            </div>
            <div class="input-container">
                <label for="profile_picture">{{'EDIT_PROFILE_PICTURE' |translate}}</label>
                <div class="picture-button-container">
                    <input type="file" id="profile_picture" (change)="onFileSelected($event)" accept="image/*">
                    <i class="fa-solid fa-cloud-arrow-up" type="button" (click)="selectFile()"></i>
                    <span class="image-name" *ngIf="imageName"> {{imageName}} </span>
                    <span *ngIf="selectedFile && selectedImage === '' ">
                        <button class="main-button" type="button" (click)="uploadImage()">{{'UPLOAD' |
                            translate}}</button>
                    </span>
                </div>
            </div>
            <div class="modal-footer">
                <button class="cancel-button" type="button" (click)="closeEditModal()">{{'CANCEL' |translate}}</button>
                <button class="main-button" [disabled]="selectedFile && selectedImage === ''">{{'UPDATE'
                    |translate}}</button>
            </div>
        </form>
        <p class="error-message" *ngIf="errorMessage">{{errorMessage}}</p>
    </div>
</div>