<div class="modal">
    <div class="modal-header">
        <h2>{{'CHANGE_PASSWORD' | translate}}</h2>
    </div>
    <div class="modal-content">
        <form #passwordForm="ngForm" (submit)="changePassword(passwordForm)">
            <div>
                <div class="input-container">
                    <label for="password">{{'PASSWORD' | translate}} <span>*</span></label>
                    <input #passwordInput [type]="hideOldPassword? 'text': 'password'" name="oldPassword"
                        autocomplete="new-password" required ngModel>
                    <i class="eye-icon" (click)="hideOldPassword = !hideOldPassword"
                        [class]="hideOldPassword? 'fa-solid fa-eye' : 'fa-solid fa-eye-slash' "></i>
                </div>
            </div>
            <div class="input-container">
                <label for="password"> {{'NEW_PASSWORD' | translate}} <span>*</span></label>
                <input [type]="hideNewPassword? 'text': 'password'" name="password" autocomplete="new-password" required
                    ngModel>
                <i class="eye-icon" (click)="hideNewPassword = !hideNewPassword"
                    [class]="hideNewPassword? 'fa-solid fa-eye' : 'fa-solid fa-eye-slash' "></i>
            </div>
            <div class="input-container">
                <label for="password">{{'CONFIRM_NEW_PASSWORD' | translate}} <span>*</span></label>
                <input [type]="hideConfirmPassword? 'text': 'password'" name="confirmNewPassword"
                    autocomplete="new-password" required ngModel>
                <i class="eye-icon" (click)="hideConfirmPassword = !hideConfirmPassword"
                    [class]="hideConfirmPassword? 'fa-solid fa-eye' : 'fa-solid fa-eye-slash' "></i>
            </div>
            <div class="modal-footer">
                <button class="cancel-button" type="button" (click)="closeChangePasswordModal()">{{'CANCEL' |
                    translate}}</button>
                <button class="main-button">{{'CONFIRM' | translate}}</button>
            </div>
        </form>
        <p class="error-message" *ngIf="errorMessage">{{errorMessage}}</p>
    </div>
</div>