#about {
  text-align: center;
  padding-top: 5rem;
  .about-header {
    padding: 2rem 0;
    color: $MAIN_COLOR;
  }
  .about-container {
    background-color: $MAIN_COLOR;
    color: white;
    padding: 1rem;
    .about-sub-container {
      @include COLUMN_ALIGN_CENTER;
      gap: 2rem;
      h2 {
        padding: 1rem;
      }
      p {
        padding: 1rem;
        text-align: left;
      }
      .key-features {
        h2 {
          padding-bottom: 2rem;
        }
        .features-container {
          @include COLUMN_ALIGN_CENTER;
          .tasks-img-container {
            display: none;
          }
          .features {
            p {
              display: flex;
              flex-direction: column;
            }
          }
        }
      }
      .technologies {
        .techs-container {
          @include COLUMN_ALIGN_CENTER;
          gap: 1rem;
          .tech {
            padding: 0 0.5rem;
            border-radius: 6px;
            p {
              color: black;
              -webkit-text-stroke: 0.5px $MAIN_COLOR;
              text-stroke: 0.5px $MAIN_COLOR;
            }
          }
          .node {
            background: url(./assets/nodejs.jpg) center / cover;
          }
          .postgres {
            background: url(./assets/postgres.jpg) center / cover;
          }
          .angular {
            background: url(./assets/angular.jpg) center / cover;
          }
          .docker {
            background: url(./assets/docker.jpg) center / cover;
          }
        }
      }
      .AWS {
        .services-container {
          @include COLUMN_ALIGN_CENTER;
          gap: 1;
          .aws-background {
            img {
              width: 95%;
              border-radius: 6px;
            }
          }
        }
      }
      .footer {
        background-color: $BG_COLOR;
        color: $MAIN_COLOR;
        border-radius: 6px;
        width: 90%;
      }
    }
  }
}

@media screen and (min-width: $SMALL_SCREEN) {
  #about {
    .about-container {
      .about-sub-container {
        h5,
        .footer {
          width: 80%;
        }
        .key-features {
          .features-container {
            flex-direction: row;
            gap: 1rem;
            height: 350px;
            .tasks-img-container {
              display: block;
              img {
                width: 200px;
                object-fit: cover;
                object-position: top;
                border-radius: 30px;
                -webkit-box-shadow: -5px 5px 15px 0px rgba(0, 0, 0, 1);
                -moz-box-shadow: -5px 5px 15px 0px rgba(0, 0, 0, 1);
                box-shadow: -5px 5px 15px 0px rgba(0, 0, 0, 1);
              }
            }
            .features {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              height: 100%;
              p {
                padding: 0;
              }
            }
          }
        }
        .technologies {
          margin-top: 2rem;
          .techs-container {
            .tech {
              width: 70%;
            }
          }
        }
        .AWS {
          width: 80%;
        }
      }
    }
  }
}

@media screen and (min-width: $MEDIUM_SCREEN) {
  #about {
    .about-container {
      .about-sub-container {
        .key-features {
          .features-container {
            justify-content: space-around;
            .tasks-img-container {
              width: 30%;
            }
            .features {
              width: 60%;
            }
          }
        }
        .AWS {
          width: 100%;
          margin: 0;
          padding: 4rem 3rem;
          background: radial-gradient(
              circle,
              rgba(255, 255, 255, 0.9) 0%,
              rgba(207, 219, 232, 0.5) 100%
            ),
            url(./assets/AWS.jpg) center / cover no-repeat;
          border-radius: 16px;
          color: black;
          margin: 1rem;
          .services-container {
            flex-direction: row;
            justify-content: space-around;
            align-items: flex-start;
            flex-wrap: wrap;
            p {
              width: 50%;
              padding: 0.5rem;
              text-decoration: none;
            }
            .aws-background {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: $LARGE_SCREEN) {
  #about {
    .about-container {
      .about-sub-container {
        .key-features {
          width: 80%;
        }
        .technologies {
          .techs-container {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            .tech {
              width: 45%;
              min-height: 200px;
            }
          }
        }
        .AWS {
          padding: 7rem 6rem;
        }
      }
    }
  }
}
@media screen and (min-width: $EXTRA_LARGE_SCREEN) {
  #about {
    .about-container {
      .about-sub-container {
        width: 80%;
        margin: 0 auto;
        h5,
        .footer {
          width: 60%;
        }
        .key-features {
          width: 80%;
          .features-container {
            justify-content: center;
            gap: 5rem;
            .tasks-img-container {
              width: 20%;
            }
            .features {
              width: 50%;
            }
          }
        }
        .technologies {
          width: 80%;
          .techs-container {
            .tech {
              min-height: 200px;
            }
          }
        }
        .AWS {
          width: 80%;
          padding: 0;
          background: none;
          color: white;
          .services-container {
            flex-direction: column;
            flex-wrap: wrap;
            max-height: 500px;
            .aws-background {
              display: block;
              width: 50%;
            }
          }
        }
      }
    }
  }
}
