.task {
  margin-top: 2rem;
  .task-body {
    .task-header {
      @include ROW_JUSTIFY_BETWEEN;
      align-items: flex-end;
      padding: 0 1rem;
      border-bottom: solid 1px $MAIN_COLOR;
      .title {
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .action-icons-container {
      display: flex;
      justify-content: space-around;
      gap: 1rem;
      i {
        cursor: pointer;
      }
      .arrows-container,
      .arrows-container-large {
        margin: 0 auto;
        width: 1.3rem;
        height: 1.3rem;
        border: solid 1px $MAIN_COLOR;
        border-radius: 50%;
        @include ROW_JUSTIFY_CENTER;
        cursor: pointer;
      }
      .arrows-container-large {
        display: none;
      }
    }

    .more-information {
      padding: 1rem;
      width: 90%;
      margin: 0 auto;
      .more-information-body {
        background: url(./assets/lined-page.jpg) left / cover no-repeat;
        padding: 1rem;
        margin: 0 auto;
        min-height: 390px;
        p {
          display: flex;
          justify-content: space-between;
          margin-top: 1rem;
          width: 80%;
          margin-left: auto;
          font-size: 0.8rem;
        }
        .title {
          width: 70%;
          justify-content: center;
          margin: 0 auto;
          text-align: center;
        }
        .description {
          flex-direction: column;
          align-items: flex-start;
          text-align: left;
        }
      }
      .action-buttons-container {
        max-width: 350px;
        display: flex;
        justify-content: space-around;
        margin: 0 auto;
        margin-top: 1rem;
      }
    }
  }
}
