@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Playfair+Display:ital,wght@0,400;0,600;1,500&display=swap");
@import "./_Variables.scss";
@import "./_Navbar";
@import "./_Task";
@import "./_Modal";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $BG_COLOR;
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: "Libre Baskerville", serif;
  }
}
.redirect {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}

.cancel-button,
.main-button,
.delete-button {
  background-color: transparent;
  border: none;
  border-radius: 16px;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.main-button {
  border: solid 1px $MAIN_COLOR;
  color: $MAIN_COLOR;
}

.main-button:disabled {
  color: #989494;
  border: solid 1px #989494;
}
.delete-button {
  color: red;
  border: solid 1px red;
}

.cancel-button {
  border: solid 1px grey;
  color: grey;
}

.fa-solid {
  color: $MAIN_COLOR;
  height: fit-content;
  align-self: center;
}

.error-message {
  text-align: center;
  margin: 0 auto;
  width: 90%;
  color: red;
}

.response-message {
  position: fixed;
  top: 8%;
  right: 5%;
  opacity: 0.5;
}
