<div class="modal">
    <div class="modal-header">
        <h2>{{'EDIT_TASK' | translate}}</h2>
    </div>
    <div class="modal-content" *ngIf="task">
        <form #updateTaskForm="ngForm" (submit)="updateTask(updateTaskForm)">
            <div class="input-container">
                <label for="title">{{'TITLE' | translate}}</label>
                <input #titleInput type="text" id="title" name="title" autocomplete="new-title"
                    [(ngModel)]="editedTask!.title">
            </div>
            <div class="input-container">
                <label for="description">{{'DESCRIPTION' | translate}}</label>
                <textarea id="description" name="description" rows="5" autocomplete="new-description"
                    [(ngModel)]="editedTask!.description" required></textarea>
            </div>
            <div class="input-container">
                <label for="due_date">{{'DUE_DATE' | translate}}</label>
                <input type="datetime-local" id="due_date" name="due_date" autocomplete="new-date"
                    [(ngModel)]="editedTask!.due_date">
            </div>
            <div class="input-container">
                <label for="status">{{'SELECT_STATUS' | translate}}</label>
                <select id="status" name="status" autocomplete="new-status" [(ngModel)]="editedTask!.status">
                    <option value="Pending">{{'PENDING' | translate}}</option>
                    <option value="In progress">{{'IN PROGRESS' | translate}}</option>
                    <option value="Cancelled">{{'CANCELLED' | translate}}</option>
                    <option value="Completed">{{'COMPLETED' | translate}}</option>
                </select>
            </div>
            <div class="input-container">
                <label for="priority">{{'SELECT_PRIORITY' | translate}}</label>
                <select id="priority" name="priority" autocomplete="new-priority" [(ngModel)]="editedTask!.priority">
                    <option value="Low">{{'LOW' | translate}}</option>
                    <option value="Medium">{{'MEDIUM' | translate}}</option>
                    <option value="High">{{'HIGH' | translate}}</option>
                    <option value="Urgent">{{'URGENT' | translate}}</option>
                </select>
            </div>
            <div class="modal-footer">
                <button class="cancel-button" type="button" (click)="closeUpdateModal()">{{'CANCEL' |
                    translate}}</button>
                <button class="main-button">{{'UPDATE' | translate}}</button>
            </div>
        </form>
    </div>
</div>