<div class="modal">
    <div class="modal-header">
        <h2>Update Task</h2>
    </div>
    <div class="modal-content" *ngIf="task">
        <form #updateTaskForm="ngForm" (submit)="updateTask(updateTaskForm, task!.task_id)">
            <div class="input-container">
                <label for="title">Title</label>
                <input type="text" name="title" autocomplete="new-title" [(ngModel)]="task.title">
            </div>
            <div class="input-container">
                <label for="description">Description</label>
                <textarea name="description" rows="5" autocomplete="new-description" [(ngModel)]="task.description"
                    required></textarea>

            </div>
            <div class="input-container">
                <label for="due_date">Due date</label>
                <input type="date" name="due_date" autocomplete="new-date" ngModel />

            </div>
            <div class="input-container">
                <label for="status">Status</label>
                <select name="status" autocomplete="new-status" [(ngModel)]="task.status">
                    <option value="pending">Pending</option>
                    <option value="cancelled">Cancelled</option>
                    <option value="completed">Completed</option>
                </select>
            </div>
            <div class="modal-footer">
                <button class="main-button">Update</button>
                <button class="cancel-button" type="button" (click)="closeUpdateModal()">Cancel</button>
            </div>
        </form>
    </div>
</div>