<div class="modal">
    <div class="modal-header">
        <h2>{{ 'DELETE_TASK' | translate }}</h2>
    </div>
    <div class="modal-content">
        <div class="delete-body">
            <p>
                <!-- Split the sentence into parts -->
                {{ 'DELETE_CONFIRMATION_PART1' | translate }}
                <span>{{ task?.title }}</span>
                {{ 'DELETE_CONFIRMATION_PART2' | translate }}
                <br>
                {{ 'DELETE_WARNING' | translate }}
            </p>
            <div class="modal-footer" *ngIf="task">
                <button class="cancel-button" (click)="closeDeleteModal()">{{ 'CANCEL' | translate }}</button>
                <button class="delete-button" (click)="deleteTask(task)">{{ 'DELETE' | translate }}</button>
            </div>
        </div>
    </div>
</div>