@import "../../../Variables";
.signup-container {
  text-align: center;
  font-size: 1.2rem;
  padding-bottom: 3rem;
  padding-top: 5rem;
  form {
    @include COLUMN_ALIGN_CENTER;
    gap: 1rem;
    margin-top: 3rem;
    .input-container {
      @include COLUMN_ALIGN_CENTER;
      position: relative;
      gap: 0.5rem;
      label {
        span {
          color: red;
        }
      }
      input {
        width: 90%;
        border: none;
        border-radius: 6px;
        font-size: 1.2rem;
      }
      input[type="file"] {
        display: none;
      }
      .picture-button-container {
        @include ROW_JUSTIFY_BETWEEN;
        max-width: 80%;
        .image-name {
          width: 200px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
      .eye-icon {
        position: absolute;
        top: 69%;
        right: 7%;
        font-size: 0.7rem;
      }
    }
  }
}
