<div class="tasks-container">
    <div class="backdrop" *ngIf="showCreateModal || showUpdateModal || showDeleteModal" (click)="closeBackdrop()"></div>
    <h1>My tasks</h1>
    <p class="response-message" *ngIf="responseMessage">{{ responseMessage }}</p>
    <div class="tasks" *ngIf="isLoggedIn; else loginMessage">
        <button class="main-button" (click)="toggleCreateModal()">New task</button>
        <div class="task" *ngFor="let task of tasks">
            <div class="task-body" [class.canceled]="isTaskCancelled(task)">
                <div class="task-header" [class.completed]="isTaskCompleted(task)"
                    [class.overdue]="isTaskOverdue(task)">
                    <p class="title" (click)="showMoreDetails(task)">
                        {{task.title}}
                    </p>
                    <div class="action-icons-container">
                        <div class="arrows-container">
                            <i (click)="showMoreDetails(task)"
                                [class]="moreLessTask === task? 'fa-solid fa-angles-up' : 'fa-solid fa-angles-down'"></i>
                        </div>
                        <div class="arrows-container-large">
                            <i (click)="showMoreDetails(task)"
                                [class]="moreLessTask === task? 'fa-solid fa-angles-left' : 'fa-solid fa-angles-right'"></i>
                        </div>
                        <i class="fa-solid fa-trash-can" (click)="toggleDeleteModal(task)"></i>
                        <i class="fa-solid fa-pen" (click)="toggleUpdateModal(task)"></i>
                    </div>
                </div>
                <div class="more-information" *ngIf=" moreLessTask === task">
                    <div class="more-information-body">
                        <p class="title"><strong>{{task.title}}</strong>
                        </p>
                        <p class="description"><strong>Description: </strong> <span>{{task.description}} </span></p>
                        <p><strong>Status: </strong> <span>{{task.status}} </span></p>
                        <p [class.overdue]="isTaskOverdue(task)"><strong>Due Date: </strong> <span>{{task.due_date |
                                date:
                                'dd.MM.yyyy'}}
                            </span></p>
                        <p><strong>Created: </strong> <span>at {{task.created_at | date: 'dd.MM.yyyy on HH:mm'}} </span>
                        </p>
                        <p *ngIf="task.updated_at"><strong>Updated: </strong> <span>
                                at {{task.updated_at | date: 'dd.MM.yyyy on HH:mm'}} </span> </p>
                    </div>
                    <div class="action-buttons-container">
                        <button class="main-button" (click)="toggleUpdateModal(task)">Update</button>
                        <button class="cancel-button" (click)="toggleDeleteModal(task)">Delete</button>
                    </div>
                    <div class="arrows-container close-more-details">
                        <i (click)="showMoreDetails(task)"
                            [class]="moreLessTask === task? 'fa-solid fa-angles-up' : 'fa-solid fa-angles-down'"></i>
                    </div>
                </div>
            </div>
            <app-update-task-modal *ngIf="showUpdateModal" [task]="selectedTask"
                (responseMessage)="handleResponseMessageChange($event)" (toggleUpdateModal)="toggleUpdateModal(task)"
                (refreshTasks)="getUserTasks()">
            </app-update-task-modal>
            <app-delete-task-modal *ngIf="showDeleteModal" [task]="selectedTask"
                (responseMessage)="handleResponseMessageChange($event)" (toggleDeleteModal)="toggleDeleteModal(task)"
                (refreshTasks)="getUserTasks()">
            </app-delete-task-modal>
        </div>

    </div>
    <ng-template #loginMessage>
        <p>Please <span class="redirect" (click)="redirectToLogin()">Login</span> to see your tasks</p>
    </ng-template>
    <app-create-task-modal *ngIf="showCreateModal" (toggleCreateModal)="toggleCreateModal()"
        (responseMessage)="handleResponseMessageChange($event)" (refreshTasks)="getUserTasks()">
    </app-create-task-modal>
</div>