<div class="tasks-container">
    <div class="backdrop" *ngIf="showCreateModal" (click)="closeBackdrop()"></div>
    <h1>My tasks</h1>
    <p class="response-message" *ngIf="responseMessage">{{ responseMessage }}</p>
    <div class="tasks" *ngIf="isLoggedIn; else loginMessage">
        <button class="main-button" (click)="toggleCreateModal()">New task</button>
        <app-task [tasks]="tasks"></app-task>

    </div>
    <ng-template #loginMessage>
        <p>Please <span class="redirect" (click)="redirectToLogin()">Login</span> to see your tasks</p>
    </ng-template>
    <app-create-task-modal *ngIf="showCreateModal" (toggleCreateModal)="toggleCreateModal()"
        (responseMessage)="handleResponseMessageChange($event)" (refreshTasks)="getUserTasks()">
    </app-create-task-modal>
</div>