@import "../../Variables.scss";
.tasks-container {
  padding-top: 5rem;
  padding-bottom: 3rem;
  @include COLUMN_ALIGN_CENTER;
  gap: 3rem;
  font-size: 1.2rem;
  button {
    align-self: center;
    margin-bottom: 2rem;
  }
  .tasks {
    text-align: center;
    width: 100%;
  }
}
