@import "../../Variables.scss";
.tasks-container {
  padding-top: 5rem;
  padding-bottom: 3rem;
  @include COLUMN_ALIGN_CENTER;
  gap: 3rem;
  font-size: 1.2rem;
  button {
    align-self: center;
  }

  .tasks {
    text-align: center;
    width: 100%;
    .filter-search-container {
      margin-top: 1rem;
      @include COLUMN_ALIGN_CENTER;
      gap: 1rem;
      .filter-search-button {
        text-decoration: underline;
        color: $MAIN_COLOR;
        cursor: pointer;
      }
      .form-container {
        form {
          text-align: center;
          input,
          select {
            border: none;
            border-radius: 6px;
            font-size: 1.2rem;
          }
          div {
            display: flex;
            align-items: flex-end;
            input {
              border-radius: 6px 0 0 6px;
            }
            i {
              background-color: $MAIN_COLOR;
              color: white;
              padding: 0.1rem;
              border-radius: 0 6px 6px 0;
            }
          }
          .error-message {
            margin-top: 1rem;
          }
        }
      }
    }
  }
  .overdue {
    color: red;
  }
  .canceled {
    opacity: 0.5;
    .task-header {
      .title {
        text-decoration: line-through;
      }
    }
  }

  .completed {
    color: green;
  }
}

@media screen and (min-width: $SMALL_SCREEN) {
  .tasks-container {
    .tasks {
      .task {
        .task-body {
          .task-header {
            width: 80%;
            margin: 0 auto;
          }
          .more-information {
            width: 65%;
            margin: 0 auto;
            .more-information-body {
              width: 350px;
              p {
                font-size: 1rem;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: $MEDIUM_SCREEN) {
  .tasks-container {
    .tasks {
      .task {
        .task-body {
          .task-header {
            width: 60%;
          }
          .more-information {
            width: 50%;
          }
        }
      }
    }
  }
}

@media screen and (min-width: $LARGE_SCREEN) {
  .tasks-container {
    .tasks {
      .filter-search-container {
        width: fit-content;
        padding-left: 1rem;
        .filter-search-button {
          align-self: flex-start;
        }
        .form-container {
          form {
            .error-message {
              text-align: left;
            }
          }
        }
      }
      .task {
        width: 100%;
        .task-body {
          display: flex;
          align-items: flex-start;
          .task-header {
            margin-left: 0;
            width: 50%;
          }
          .more-information {
            width: 40%;
            align-items: center;
            .more-information-body {
              margin: 0 auto;
            }
          }
        }
      }
      .arrows-container {
        display: none;
      }
      .arrows-container-large {
        display: flex;
      }
    }
  }
}

@media screen and (min-width: $EXTRA_LARGE_SCREEN) {
  .tasks-container {
    .tasks {
      .task {
        .task-body {
          .task-header {
            width: 40%;
          }
        }
      }
    }
  }
}
