<div class="navbar-container" [class.scroll-background]="isScrolled">
    <div class="navbar-backdrop backdrop" *ngIf="menu" (click)="toggleSwitcher(false)"></div>
    <div class="bar-button-container">
        <div class="burger-button-icon">
            <div class='bar-button' (click)="toggleSwitcher(!menu)">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            <div class="userIcon" *ngIf="isLoggedIn" (click)="redirectToProfile()">
                <div *ngIf="userIcon; else emptyProfile">
                    <img src="{{userIcon}}" alt="profile">
                </div>
                <ng-template #emptyProfile>
                    <img src="../../../assets/empty-profile.png" alt="">
                </ng-template>
            </div>
        </div>
        <div class="app-name">
            <a routerLink="/">
                <h2>{{'APP_NAME' | translate}}</h2>
            </a>
        </div>
    </div>
    <div [class.menu-on]="menu" class='menu-off'>
        <div class='routes-container'>
            <a [class.active]="isActive('/')" routerLink=""><button (click)="toggleSwitcher(false)">{{ 'HOME' |
                    translate
                    }}</button></a>
            <a [class.active]="isActive('/myprofile')" routerLink="myprofile"><button (click)="toggleSwitcher(false)">{{
                    'MY_PROFILE' | translate }}</button></a>
            <a [class.active]="isActive('/tasks')" routerLink="tasks"><button (click)="toggleSwitcher(false)">{{
                    'MY_TASKS' |
                    translate }}</button></a>
            <a [class.active]="isActive('/about')" routerLink="about"><button (click)="toggleSwitcher(false)">{{ 'ABOUT'
                    |
                    translate }}</button></a>
            <div *ngIf="!isLoggedIn" class='auth-container'>
                <a [class.active]="isActive('/login')" routerLink="login"><button (click)="toggleSwitcher(false)">{{
                        'LOGIN'
                        | translate }}</button></a>
                <!-- <a [class.active]="isActive('/signup')" routerLink="signup"><button (click)="toggleSwitcher(false)">{{
                        'REGISTER' | translate }}</button></a> -->
            </div>
            <div *ngIf="isLoggedIn" class='auth-container'><button (click)="logOut()">{{ 'LOGOUT' | translate
                    }}</button>
            </div>
            <div class="language-switcher">
                <i class="fa-solid fa-globe"></i>
                <select (change)="onLanguageChange($event)" [value]="currentLang">
                    <option value="en">En</option>
                    <option value="de">DE</option>
                </select>
            </div>
        </div>
    </div>
</div>