<div class="login-container">
    <h1>{{ 'LOGIN' | translate }}</h1>
    <form #loginForm="ngForm" (submit)="login(loginForm)">
        <!-- Email -->
        <div class="input-container">
            <label for="email">Email <span class="required-marker">*</span></label>
            <input #emailInput type="email" name="email" autocomplete="email" required ngModel />
        </div>

        <!-- Password -->
        <div class="input-container">
            <label for="password">{{ 'PASSWORD' | translate }} <span class="required-marker">*</span></label>
            <input [type]="hide ? 'text' : 'password'" name="password" autocomplete="new-password" required ngModel />
            <i class="eye-icon" (click)="hide = !hide" [class]="hide ? 'fa-solid fa-eye' : 'fa-solid fa-eye-slash'"></i>
        </div>

        <!-- Submit Button -->
        <button class="main-button">{{ 'LOGIN' | translate }}</button>

        <!-- Redirect to Signup -->
        <div>{{ 'NO_ACCOUNT' | translate }} <span class="redirect" (click)="RedirectRegister()">{{ 'REGISTER' |
                translate }}</span></div>
    </form>

    <!-- Error Messages -->
    <div class="error-message" *ngIf="errorMessage">
        {{ errorMessage | translate }}
    </div>
</div>