@import "../../../Variables";
.login-container {
  text-align: center;
  font-size: 1.2rem;
  padding-top: 5rem;
  color: $MAIN_COLOR;
  form {
    @include COLUMN_ALIGN_CENTER;
    gap: 2rem;
    margin-top: 3rem;
    .input-container {
      @include COLUMN_ALIGN_CENTER;
      position: relative;
      gap: 0.5rem;
      border-bottom: solid 1px $MAIN_COLOR;
      label {
        span {
          color: red;
        }
      }
      input {
        border: none;
        font-size: 1.2rem;
        padding: 0.5rem;
        background-color: transparent;
      }
      input:focus {
        outline: none;
      }
      .eye-icon {
        position: absolute;
        top: 69%;
        right: 7%;
        font-size: 0.7rem;
      }
    }
  }
}
