<div class="about-container" id="about">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias distinctio voluptate nihil perspiciatis sunt
        eaque vitae, in eum provident magnam soluta. Molestiae temporibus error culpa incidunt soluta ipsum
        doloribus
        est?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias distinctio voluptate nihil perspiciatis sunt
        eaque vitae, in eum provident magnam soluta. Molestiae temporibus error culpa incidunt soluta ipsum
        doloribus
        est?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias distinctio voluptate nihil perspiciatis sunt
        eaque vitae, in eum provident magnam soluta. Molestiae temporibus error culpa incidunt soluta ipsum
        doloribus
        est?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias distinctio voluptate nihil perspiciatis sunt
        eaque vitae, in eum provident magnam soluta. Molestiae temporibus error culpa incidunt soluta ipsum
        doloribus
        est?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias distinctio voluptate nihil perspiciatis sunt
        eaque vitae, in eum provident magnam soluta. Molestiae temporibus error culpa incidunt soluta ipsum
        doloribus
        est?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias distinctio voluptate nihil perspiciatis sunt
        eaque vitae, in eum provident magnam soluta. Molestiae temporibus error culpa incidunt soluta ipsum
        doloribus
        est?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias distinctio voluptate nihil perspiciatis sunt
        eaque vitae, in eum provident magnam soluta. Molestiae temporibus error culpa incidunt soluta ipsum
        doloribus
        est?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias distinctio voluptate nihil perspiciatis sunt
        eaque vitae, in eum provident magnam soluta. Molestiae temporibus error culpa incidunt soluta ipsum
        doloribus
        est?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias distinctio voluptate nihil perspiciatis sunt
        eaque vitae, in eum provident magnam soluta. Molestiae temporibus error culpa incidunt soluta ipsum
        doloribus
        est?</p>
</div>