<div id="about">
    <div class="about-header">
        <h2>About Task-Manager</h2>
    </div>
    <div class="about-container">
        <div class="about-sub-container">
            <h5>
                Welcome to Task-Manager, your go-to solution for efficient task management! Task-Manager is a robust web
                application built to streamline your daily tasks, enabling you to stay organized and focused on what
                matters
                most. With intuitive features and a user-friendly interface, Task-Manager empowers users to create and
                manage
                tasks effortlessly.
            </h5>
            <div class="key-features">
                <h2>Key Features</h2>
                <div class="features-container">
                    <div class="tasks-img-container">
                        <img src="../../assets/Task-manager-mobile.png" alt="">
                    </div>
                    <div class="features">
                        <p><strong> <i class="far fa-check-circle"></i> User Authentication: </strong><span>Task-Manager
                                provides
                                secure
                                user authentication functionality,
                                allowing users to
                                register an account and log in securely. With password hashing and encryption, your
                                personal
                                information
                                remains protected at all times.</span></p>
                        <p class="profile-management"><strong> <i class="fas fa-cog"></i> Profile Management:
                            </strong><span>Users
                                have
                                the flexibility to update
                                their profiles, enabling them
                                to
                                customize their
                                information and preferences according to their needs.</span></p>
                        <p><strong> <i class="fas fa-tasks"></i> Task Management: </strong><span>Task-Manager
                                simplifies
                                task
                                management by offering a comprehensive
                                suite
                                of tools to
                                create, update, and delete tasks with ease. Whether it's organizing daily chores or
                                tracking
                                project
                                milestones, Task-Manager has you covered.</span></p>
                    </div>
                </div>
            </div>
            <div class="technologies">
                <h2>Technologies Used</h2>
                <div class="techs-container">
                    <div class="tech node">
                        <p><strong>Node.js/Express: </strong><span>Task-Manager's backend is powered by Node.js, a
                                versatile JavaScript
                                runtime, and Express, a
                                minimalist web framework for Node.js. This powerful combination provides a robust
                                foundation
                                for
                                building
                                scalable and efficient server-side applications.</span></p>
                    </div>
                    <div class="tech postgres">
                        <p><strong>PostgreSQL: </strong><span>Task-Manager leverages PostgreSQL, a powerful
                                open-source
                                relational
                                database management system,
                                to store and manage user data securely.</span></p>
                    </div>
                    <div class="tech angular">
                        <p><strong>Angular: </strong><span>Task-Manager's frontend is developed using Angular, a
                                popular
                                TypeScript-based web application
                                framework maintained by Google. Angular's modular architecture and extensive tooling
                                enable
                                rapid
                                development of dynamic and responsive user interfaces.</span></p>
                    </div>
                    <div class="tech docker">
                        <p><strong>Docker: </strong><span>Task-Manager utilizes Docker for production, enabling
                                seamless
                                containerization and deployment of
                                both backend and frontend components.</span></p>
                    </div>
                </div>
            </div>

            <div class="AWS">
                <h2>Amazon Web Services (AWS)</h2>
                <div class="services-container">
                    <p><strong>Amazon RDS: </strong><span>Task-Manager leverages Amazon RDS (Relational Database
                            Service)
                            for
                            PostgreSQL to host its
                            database securely in the cloud. With features such as automated backups and scalability,
                            Amazon
                            RDS
                            simplifies database management and enhances application reliability.</span></p>

                    <p><strong>Amazon EC2: </strong><span>Task-Manager utilizes Amazon EC2 (Elastic Compute Cloud)
                            instances
                            to
                            host
                            its backend server,
                            ensuring high availability and scalability for handling user requests efficiently.</span>
                    </p>
                    <p><strong>Amazon S3: </strong><span>Task-Manager stores its frontend assets, such as HTML, CSS, and
                            JavaScript
                            files, on Amazon S3
                            (Simple Storage Service), a highly scalable object storage service. Amazon S3 provides
                            durable
                            and
                            cost-effective storage for static web content, enabling fast and reliable delivery to users
                            worldwide.</span></p>
                    <div class="aws-background">
                        <img src="../../assets/AWS.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="footer">
                <p>Task-Manager is committed to delivering a seamless task management experience, combining cutting-edge
                    technologies with intuitive design to empower users and boost productivity. Join Task-Manager today
                    and
                    take
                    control of your tasks like never before!</p>
            </div>
        </div>
    </div>
</div>